**/*.log
**/.history
**/ConEmu.xml
**/user-ConEmu.xml
/**/tmp/*
bin/laragon/laragon.cmd
bin/mysql/mariadb-10.8-winx64/data/**
data/**/**
session.xml
tmp/**
usr/**
/bin/**/httpd.pid
/bin/notepad++/config.xml
