**/*.log
**/.history
**/ConEmu.xml
**/user-ConEmu.xml
/**/tmp/*
bin/apache/httpd-2.4.47-win64-VS16/logs/**
bin/laragon/laragon.cmd
bin/mysql/mariadb-10.8-winx64/data/**
bin\notepad*\*.xml
data/**/*
session.xml
tmp/**
usr/**
